
.saved-interviews {
  margin: 0;
  width: 100%;

  .hero {
      background-color: #e9ecef;
      height: 20vh;
      padding: 20px 65px;

      h1 {
        font-size: 25px;
      }

  }

  .jobs-container {
      padding: 20px 65px;
  }
}